@import url(https://fonts.googleapis.com/css?family=Inconsolata:400,700);
body {
  margin: 0 auto;
  font-family: Inconsolata;
  color: #494949;
  font-size: 18px;
  overflow-x: hidden; }

body::-webkit-scrollbar {
  width: 1em; }

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0px #12afff; }

body::-webkit-scrollbar-thumb {
  background-color: #12afff;
  outline: 0px solid #fff; }

#background {
  background-image: url("../img/bg.png"); }

.navbar {
  border-bottom: 1px solid #12afff;
  font-size: 20px;
  background: #fff; }
  .navbar a {
    outline: none;
    text-decoration: none; }
  .navbar li {
    text-transform: uppercase; }
    .navbar li.active {
      font-weight: bold; }
      .navbar li.active :before {
        content: "{{";
        color: #12afff;
        font-size: 30px;
        font-weight: 400; }
      .navbar li.active :after {
        content: "}}";
        color: #12afff;
        font-size: 30px;
        font-weight: 400; }
    .navbar li a {
      color: #494949; }
      .navbar li a:focus {
        background: #fff; }
      .navbar li a:before {
        content: "{{";
        color: #fff;
        font-size: 30px;
        -webkit-transition-duration: .1s;
        -moz-transition-duration: .1s;
        -ms-transition-duration: .1s;
        -o-transition-duration: .1s;
        transition-property: color; }
      .navbar li a:after {
        content: "}}";
        color: #fff;
        font-size: 30px;
        -webkit-transition-duration: .1s;
        -moz-transition-duration: .1s;
        -ms-transition-duration: .1s;
        -o-transition-duration: .1s;
        transition-property: color; }
      .navbar li a:hover {
        background: #fff; }
        .navbar li a:hover::before {
          content: "{{";
          color: #12afff;
          font-size: 30px;
          -webkit-transition-duration: .1s;
          -moz-transition-duration: .1s;
          -ms-transition-duration: .1s;
          -o-transition-duration: .1s;
          transition-duration: .1s;
          transition-property: color; }
        .navbar li a:hover::after {
          content: "}}";
          color: #12afff;
          font-size: 30px;
          -webkit-transition-duration: .1s;
          -moz-transition-duration: .1s;
          -ms-transition-duration: .1s;
          -o-transition-duration: .1s;
          transition-duration: .1s;
          transition-property: color; }

.logo-box {
  background-color: #12afff;
  position: absolute;
  left: -70px;
  top: -50px;
  width: 300px;
  height: 230px;
  z-index: 2;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }
  @media screen and (max-width: 1502px) {
    .logo-box {
      width: 250px;
      height: 180px;
      left: -70px;
      top: -30px; } }
  @media screen and (max-width: 1385px) {
    .logo-box {
      display: none; } }

.logo-box-hover {
  height: 163px;
  left: 54px;
  position: absolute;
  top: 73px;
  width: 250px;
  display: block; }
  .logo-box-hover p {
    text-align: center;
    color: #12afff; }
  @media screen and (max-width: 1502px) {
    .logo-box-hover {
      left: -15px;
      top: 70px; } }
  @media screen and (max-width: 1385px) {
    .logo-box-hover {
      display: none; } }

.cv-box {
  cursor: pointer;
  right: 0px;
  top: -1px;
  display: block;
  position: absolute;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  height: 70px;
  background: #12afff;
  color: #fff;
  text-transform: uppercase; }
  @media screen and (max-width: 1385px) {
    .cv-box {
      position: relative; } }
  .cv-box:hover {
    color: #fff; }

.triangle {
  top: 22px;
  left: 0px;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 12px 0 12px 16px;
  border-color: transparent transparent transparent #ffffff;
  line-height: 0px;
  _border-color: #000000 #000000 #000000 #ffffff;
  _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000'); }

.mobile-logo {
  display: none; }
  @media screen and (max-width: 1385px) {
    .mobile-logo {
      display: block;
      position: relative;
      width: 50px;
      height: 50px;
      margin: 0 auto;
      top: -40px; } }

.main-logo {
  left: 86px;
  position: relative;
  top: 41px;
  transform: rotate(-45deg); }
  @media screen and (max-width: 1502px) {
    .main-logo {
      width: 59%; } }
  @media screen and (max-width: 1385px) {
    .main-logo {
      width: 90px;
      display: block;
      position: relative;
      height: 50px;
      margin: 0 auto;
      top: 0px;
      left: -20px;
      transform: rotate(0deg); } }

.navbar-toggle {
  border: 1px solid #12afff;
  border-radius: 0px;
  right: 10px; }

.navbar-toggle .icon-bar {
  background: #12afff;
  border-radius: 1px;
  display: block;
  height: 2px;
  width: 22px; }

section {
  margin: 80px 0px; }

.about-box {
  background-color: #12afff;
  padding: 40px; }
  .about-box p {
    line-height: 27px;
    background-color: #fff;
    text-align: center; }
  .about-box span {
    text-align: center;
    display: block;
    margin-left: -10px;
    margin-top: 10px; }

.about-text {
  margin-top: 20px; }

.card-wrap {
  width: 140px;
  height: 140px;
  position: relative;
  perspective: 800px;
  display: block;
  margin: 0 auto; }

.card {
  border: 2px solid #fff;
  border-radius: 50%;
  box-sizing: border-box;
  transform-style: preserve-3d;
  transition: transform 1s;
  position: absolute;
  width: 100%;
  height: 100%; }
  .card:hover {
    transform: rotateY(180deg); }

.card figure {
  margin: 0;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; }

.card .front {
  background-image: url("../img/kamil-mach.jpg");
  background-size: cover;
  border: 2px solid #fff;
  border-radius: 50%; }

.card .back {
  background-image: url("../img/kamil-mach-2.jpg");
  background-size: cover;
  border: 2px solid #fff;
  border-radius: 50%;
  transform: rotateY(180deg); }

.header {
  font-size: 40px;
  color: #12afff; }
  .header span {
    color: #494949; }

.header-triangle {
  position: absolute;
  margin-left: 42px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 50px 0 50px;
  border-color: #ffffff transparent transparent transparent;
  line-height: 0px;
  _border-color: #ffffff #000000 #000000 #000000;
  _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000'); }

.blue-bar {
  width: 100%;
  background-color: #12afff; }

.portfolio-filter {
  text-align: right;
  padding: 30px 20px 20px 20px;
  color: #fff; }
  .portfolio-filter span {
    font-size: 25px;
    cursor: pointer; }
    .portfolio-filter span.active {
      background: #fff;
      color: #484848;
      padding: 7px;
      margin: 11px; }

#projects, #design {
  margin: 80px 0px; }
  #projects img, #design img {
    margin: 40px auto;
    display: block; }

#design {
  display: none; }

.project-item {
  cursor: pointer;
  display: block;
  padding: 10px 0px;
  -webkit-transition-duration: .4s;
  -moz-transition-duration: .4s;
  -ms-transition-duration: .4s;
  -o-transition-duration: .4s;
  transition-duration: .4s; }
  .project-item img {
    -webkit-transition-duration: .2s;
    -moz-transition-duration: .2s;
    -ms-transition-duration: .2s;
    -o-transition-duration: .2s;
    transition-duration: .2s; }
  .project-item:hover {
    background-color: #fff; }
    .project-item:hover img {
      -webkit-transform: scale(1.05);
      -moz-transform: scale(1.05);
      -ms-transform: scale(1.05);
      -o-transform: scale(1.05);
      transform: scale(1.05);
      -webkit-transition-duration: .2s;
      -moz-transition-duration: .2s;
      -ms-transition-duration: .2s;
      -o-transition-duration: .2s;
      transition-duration: .2s; }

#clients-wrap {
  margin-top: -80px; }

.large-blue-bar {
  background-color: #12afff;
  height: 120px;
  width: 100%; }

.padding-reset {
  padding: 0; }

.clients-fix {
  margin-left: 95px; }

.clients-box {
  padding: 40px 0px;
  text-align: center; }
  .clients-box li {
    display: inline-block;
    margin: 0px 20px;
    padding: 10px;
    -webkit-transition-duration: .4s;
    -moz-transition-duration: .4s;
    -ms-transition-duration: .4s;
    -o-transition-duration: .4s;
    transition-duration: .4s; }
    .clients-box li:hover {
      background-color: #fff; }
    .clients-box li img {
      -webkit-transition-duration: .2s;
      -moz-transition-duration: .2s;
      -ms-transition-duration: .2s;
      -o-transition-duration: .2s;
      transition-duration: .2s; }
      .clients-box li img:hover {
        -webkit-transition-duration: .2s;
        -moz-transition-duration: .2s;
        -ms-transition-duration: .2s;
        -o-transition-duration: .2s;
        transition-duration: .2s;
        -webkit-transform: scale(1.05);
        -moz-transform: scale(1.05);
        -ms-transform: scale(1.05);
        -o-transform: scale(1.05);
        transform: scale(1.05); }

.technology-item {
  text-align: center;
  padding: 20px 0px;
  margin: 10px 0px; }
  .technology-item:hover {
    background-color: #fff; }
  .technology-item img {
    -webkit-transition-duration: .2s;
    -moz-transition-duration: .2s;
    -ms-transition-duration: .2s;
    -o-transition-duration: .2s;
    transition-duration: .2s; }
    .technology-item img:hover {
      -webkit-transition-duration: .2s;
      -moz-transition-duration: .2s;
      -ms-transition-duration: .2s;
      -o-transition-duration: .2s;
      transition-duration: .2s;
      -webkit-transform: scale(1.05);
      -moz-transform: scale(1.05);
      -ms-transform: scale(1.05);
      -o-transform: scale(1.05);
      transform: scale(1.05); }

.technology-sign {
  position: relative;
  top: 47px;
  font-size: 100px;
  color: #12afff; }

.technology-box {
  margin-top: 40px; }

.contact-box {
  position: relative;
  border-left: 9px solid #12afff;
  border-right: 9px solid #12afff;
  border-bottom: 9px solid #12afff;
  width: 100%;
  min-height: 200px; }
  @media screen and (max-width: 992px) {
    .contact-box {
      border-left: 0px solid #12afff;
      border-right: 0px solid #12afff;
      border-bottom: 0px solid #12afff; } }

.box-border-left {
  border-top: 9px solid #12afff;
  position: absolute;
  width: 35%;
  left: 0px;
  top: 0px; }

.box-border-right {
  border-top: 9px solid #12afff;
  position: absolute;
  width: 35%;
  right: 0px;
  top: 0px; }

.contact-header-fix {
  position: relative;
  top: 30px;
  z-index: 999; }
  @media screen and (max-width: 992px) {
    .contact-header-fix {
      text-align: center; } }

#contact-wrap {
  margin-top: -40px; }

#contact-form {
  padding: 60px 0px; }

.form-control {
  height: 44px;
  margin: 0px 40px;
  color: #fff;
  font-size: 20px; }
  @media screen and (max-width: 992px) {
    .form-control {
      margin: 0px 0px; } }

label {
  margin-left: 40px;
  font-size: 20px;
  font-weight: 400; }
  @media screen and (max-width: 992px) {
    label {
      margin-left: 0px; } }

#contact-submit {
  position: relative;
  text-align: center;
  margin: 0 auto;
  display: block;
  top: 70px;
  height: 50px;
  width: 200px;
  color: #fff;
  background: #12afff;
  font-size: 30px;
  border: 0px;
  top: 85px;
  -webkit-transition-duration: .2s;
  -moz-transition-duration: .2s;
  -ms-transition-duration: .2s;
  -o-transition-duration: .2s;
  transition-duration: .2s; }
  #contact-submit:hover {
    font-size: 31px; }

footer {
  width: 100%;
  height: 40px;
  border-top: 1px solid #12afff;
  color: #494949;
  font-size: 15px;
  text-align: center;
  padding-top: 10px; }

.mouse-bg {
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: -1;
  position: fixed; }

.disabled {
  display: none !important; }
/* --- COOKIEINFO --- */


#cookieinfo-kamil-mach * {
    margin: 0px;
    padding: 0px;
}

#cookieinfo-kamil-mach {
    position: fixed;
	color: #6F6F6F;
    font-size: 18px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background:#fff;
    padding: 20px;
    border-top: 1px solid #12afff;
    z-index: 1000;
}

#cookieinfo-kamil-mach h6 {
    font-size: 18px;
    font-variant: small-caps;
    color:#494949;
    margin-bottom: 7px;
}

#cookieinfo-kamil-mach p {
    font-size: 14px;
    color: #6F6F6F;
    line-height: 1.5em;
}

#cookieinfo-kamil-mach > a {
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 25px;
    height: 25px;
    border-radius: 11px;
    line-height: 22px;
    font-size: 12px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    background-color: #12afff;
}

a.cookie-link{
	color:#12afff;
}

#cookieinfo-kamil-mach a:hover {
    background-color: #12afff;
    color:#fff; 
}  

.scrollup:before{
 content: ">";
 position:absolute;
 transform:rotate(-90deg);
 font-size:30px;
 left: 50%;
 margin-left:-8px;
 color:#fff;
 margin-top: -2px;
}

.scrollup:hover{
	opacity:1;
}

.scrollup {
    width: 40px;
    height: 40px;
    position: fixed;
    z-index:999999;
    bottom: 50px;
    right: 10px;
    display: none;
     background:#12afff;
    transition:linear 0.2s;
    opacity:0.4;
}
.facebook-btn {
	width:40px;
	height:40px;
	background-image:url('../img/facebook.png');
	background-size:cover;
	display:block;
	position:fixed;
	left:0;
	top:50%;
}
